<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <properties>
        <property name="logPath"></property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n}"/>
        </Console>

        <RollingFile name="infoLog" filename="c:/log/info-iam-gate.log"
                     filepattern="${logPath}/info-platform-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <!--<Policies>-->
            <SizeBasedTriggeringPolicy size="50MB"/>
            <!--</Policies>-->
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>